{% extends 'base.html.twig' %}

{% block body %}
<h1>{{  'Convert Data for: country' | trans({'country': country})}}</h1>

{{ form_start(form) }}

    <fieldset>
        <legend>Country Selection</legend>
        <p>Each Country has its own format, so we need to know your country.</p>

        {{ form_row(form.country) }}
    </fieldset>
    <fieldset>
        <legend>Your local data</legend>
        <p>Export your local data as CSV in your Excel-Tool with ',' as separator and '"' as delimiter.</p>
            {{ form_row(form.localData) }}
    </fieldset>

    <fieldset>
        <legend>Latest Tab Data</legend>
        <p>Export your latest data as CSV in your Excel-Tool with ',' as separator and '"' as delimiter.</p>

        {{ form_row(form.latestTabData) }}
    </fieldset>

    <fieldset>
        <legend>Override Data</legend>
        <p>Export your state of your override data as CSV in your Excel-Tool with ',' as separator and '"' as delimiter.</p>
        {{ form_row(form.overrideTabData) }}
    </fieldset>
{{ form_end(form) }}

    {% if outputFile is not null %}
        <a href="{{ url('file', {'fileName': outputFile}) }}">Download Result</a> and copy it's content into the <b>Override</b> tab
    {% endif %}
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
{% endblock %}
