<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to our Map data converter{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <h1>Map data converting</h1>
    <p>
        Do it now for the following countries:
    </p>

    <ul style="list-style: none">
        <li><a href="{{ url('germany') }}">Germany</a></li>
    </ul>
    <h2>Disclaimer</h2>
    <p>This is for test usage only!</p>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
